{:duct.profile/base
 {:duct.core/project-ns opinionated
  :duct.core/environment :production
  
  ; web server
  :opinionated.components.web/server
  {:port    3000
   :handler #ig/ref :opinionated.components.web/router
   :logger #ig/ref :duct/logger
   :executor :none}
  :opinionated.components.web/routes {:db #ig/ref :opinionated.components.db/read
                                      :jwt #ig/ref :opinionated.components.auth/backend
                                      :executor #ig/ref :opinionated.components.executors/execute}
  :opinionated.components.web/router {:routes #ig/ref :opinionated.components.web/routes}
  
  ; worker executor
  :opinionated.components.executors/execute {}
  
  ; auth
  :opinionated.components.auth/backend {:secret #duct/env "JWT_SECRET"}
  
  ; read/write separation is pretty common in production environment
  :opinionated.components.db/read {:jdbc-url #duct/env "JDBC_READ_URL"}
  :opinionated.components.db/write {:jdbc-url #duct/env "JDBC_WRITE_URL"}
  
  ; for migrating database schema changes
  :duct.migrator/ragtime
  {:database   #ig/ref :opinionated.components.db/write
   :logger     #ig/ref :duct/logger
   :strategy   :rebase
   :migrations [#ig/ref :opinionated.migration/create-tables
                #ig/ref :opinionated.migration/create-article-tables]}
  
  [:duct.migrator.ragtime/sql :opinionated.migration/create-tables]
  {:up ["CREATE TABLE user (id INTEGER PRIMARY KEY, password TEXT NOT NULL, email TEXT NOT NULL, username TEXT NOT NULL, bio TEXT, image TEXT, UNIQUE (email));"
        "CREATE TABLE user_following (id INTEGER PRIMARY KEY, userId INTEGER NOT NULL, followingUserId, followedAt TIMESTAMP);"]
   :down ["DROP TABLE user_following;"
          "DROP TABLE user;"]}
  [:duct.migrator.ragtime/sql :opinionated.migration/create-article-tables]
  {:up ["CREATE TABLE article (id INTEGER PRIMARY KEY, slug TEXT NOT NULL, title TEXT NOT NULL, description TEXT, body TEXT, createdAt TIMESTAMP NOT NULL, updatedAt TIMESTAMP NOT NULL, author INTEGER NOT NULL, UNIQUE(slug));"
        "CREATE TABLE article_tag (id INTEGER PRIMARY KEY, articleId INTEGER, tag TEXT NOT NULL);"]
   :down ["DROP TABLE article_tag;"
          "DROP TABLE article;"]}}
 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/test  {:opinionated.components.db/read {:jdbc-url "jdbc:sqlite::memory:"}
                      :opinionated.components.db/write {:jdbc-url "jdbc:sqlite::memory:"}}
 :duct.profile/prod  {}
 
 :duct.module/logging {}}